fastapi
uvicorn
motor
pymongo
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
google-auth
python-multipart
pydantic
email-validator
pytesseract
opencv-python
pillow
nltk
certifi
